<head>
  <meta charset="utf-8">
  <title>Audiopia</title>
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mario Flach">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<template name="_layout">
    <header>
        <nav class="uk-navbar uk-navbar-attached">
            <a href="{{pathFor 'home'}}" class="uk-navbar-brand"><i class="uk-icon-ioxhost"></i></a>
        </nav>
    </header>
    <main>
        {{> yield}}
    </main>
    <nav role="menu">
        <ul class="uk-nav uk-nav-parent-icon" data-uk-nav="{multiple:true}" role="navigation">
            <li class="{{activeRoute 'dashboard'}}"><a href="{{pathFor 'dashboard'}}"><i class="uk-icon-dashboard"></i> Dashboard</a></li>
            <li class="uk-active uk-parent">
                <a href="#"><i class="uk-icon-music"></i> Music</a>
                <ul class="uk-nav-sub">
                    <li class="{{activeRoute 'music'}}"><a href="{{pathFor 'music'}}"><i class="uk-icon-folder-open"></i> Browse<span class="uk-badge uk-badge-notification">{{onlineCount}}</span></a></li>
                    <li class="{{activeRoute 'music' hash='me'}}"><a href="{{pathFor 'music' hash='me'}}"><i class="uk-icon-toggle-on"></i> My Music<span class="uk-badge uk-badge-notification">{{localCount}}</span></a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#"><i class="uk-icon-sliders"></i> Settings</a>
                <ul class="uk-nav-sub"></ul>
            </li>
            <li><a href="#"><i class="uk-icon-thumbs-up"></i> Community</a></li>
        </ul>
        {{> Cover}}
    </nav>
    <footer>
        {{> AudioPlayer}}
    </footer>
</template>
