<template name="AudioPlayer">
    <div class="audioplayer audioplayer-disabled">
        <div class="audioplayer-playpause-button" data-role="play-button"><a href="#"></a></div>
        <div class="audioplayer-time audioplayer-time-current">{{formatSecs currentTime}}</div>
        <div class="audioplayer-progressbar" data-role="progress-slider">
            <div class="audioplayer-progressbar-loaded"></div>
            <div class="audioplayer-progressbar-played"></div>
        </div>
        <div class="audioplayer-time audioplayer-time-duration">{{formatSecs duration}}</div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-button" data-role="volume-button"><a href="#"></a></div>
            <div class="audioplayer-volume-slider">
                <div data-role="volume-slider">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</template>
