<template name="Collection">
    <section class="collection">
        <aside>
            <form class="fixed uk-form">
                <div class="uk-form-icon">
                    <i class="uk-icon-search"></i>
                    <input type="search" value="{{search}}" placeholder="Search...">
                </div>
            </form>
        </aside>
        <table class="uk-table">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th class="uk-width-1-3 uk-width-small-1-2">Title</th>
                    <th class="uk-width-1-4 uk-width-small-1-3">Artist</th>
                    <th class="uk-width-1-4 uk-hidden-small">Album</th>
                    <th></th>
                </tr>
            </thead>
            <tbody tabindex="0">
            {{#each model}}
                <tr {{rowAttributes}}>
                    <td><input type="checkbox"></td>
                    <td>{{title}}</td>
                    <td>{{artist}}</td>
                    <td class="uk-hidden-small">{{album}}</td>
                    <td>{{formatSecs duration}}</td>
                </tr>
                {{#if progress}}
                    <progress {{progress}}></progress>
                {{/if}}
            {{/each}}
            </tbody>
        </table>
    </section>
</template>

