<template name="Dashboard">
    <section class="dashboard">
        <aside>
            <ul class="uk-tab uk-float-left" data-uk-tab="{connect:'.uk-switcher'}">
                <li class="uk-active"><a href="#">Overview</a></li>
            </ul>
            <div class="uk-text-right">
                <div class="uk-button-group">
                {{#unless currentImport }}
                    <div id="import" class="uk-form-file">
                        <button class="uk-button"><i class="uk-icon-check"></i>&nbsp;&nbsp;Import</button>
                        <input type="file" multiple accept="audio/*" webkitdirectory>
                    </div>
                {{else}}
                    <button id="cancel" class="uk-button"><i class="uk-icon-circle-o-notch uk-icon-spin"></i>&nbsp;&nbsp;Cancel</button>
                {{/unless}}
                    <a href="{{pathFor 'music' hash='me'}}" class="uk-button"><i class="uk-icon-reorder"></i>&nbsp;&nbsp;Manage library</a>
                    <button id="remove" class="uk-button uk-button-danger" {{removeButton}}><i class="uk-icon-times"></i>&nbsp;&nbsp;Remove all</button>
                </div>
            </div>
        </aside>
        <ul class="uk-switcher">
            <li>Not implemented yet.</li>
        </ul>
    </section>
</template>
